h1, h2 {
	text-align: center;
}

.names {
  width: 100%;
  border-top: 1px solid #cccccc; 
  border-bottom: 1px solid #cccccc; 
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.names td{
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: green;
}

.ind_div {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
}